
 .header {
  display: flex;
  gap :20px;
  font-size: 15px;
  padding-left: 1090px;;
 border-top: 3px solid #00a7c6;
  background-color: rgba(240, 247, 255, 0.893);
 }
 .contact-info i{
  
  margin:6px;
  gap:10px;

 }
 @media (max-width: 1025px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 10px;
    gap: 8px;
  }
}
 
@media (max-width: 813px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 10px ;
    
  }
}

@media (max-width: 587px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 10px ;
   
  }
}