.about-content{
    padding: 40px;
    background-color:rgba(240, 247, 255, 0.893) ;;
}
#firstpara{
    font-size: 14px;
    color: #7e7d7d;
    line-height: 1.6;
}
#secondpara{
    font-size: 16px;
    color: #464444;
    padding-left: 60px;
    
}
.about-content h1{
    font-size: 34px;
    color: #3c3b3b;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cupicon{
  display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cupicon i{
    font-size: 70px;
    padding-left: 40px;
  
}
.subtitle-section{
    display: flex;
    align-items: center;
    /* gap: 17px; */
   
}
.section{
   color:white;
   background-color: #f4be4b; 
    padding: 10px;
   
}
.subtitle-section i{
    font-size: 45px;
    color: #f4be4b;
    

}
.about-content2 h3{
    font-size: 24px;
    color: #ffc70f;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
}
.about-content2 p{
    font-size: 16px;
    color: #464444;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    
}